/* Admin Payroll Banner */
.admin-payroll-banner {
  background: url("../../assets/blue.png") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 110px 0;
  color: white;
  position: relative;
  margin-left: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-payroll-banner-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/* Main Content */
.admin-payroll-main {
  padding: 20px;
  margin-left: 40px;
}

.admin-payroll-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
